= simple_form_for [:administration, @client] do |f|
  .row
    .col-md-6.col-xs-12
      .form-group
        = f.input :name, input_html: { class: 'form-control' }
    .col-md-6.col-xs-12
      .form-group 
        = f.input :address, input_html: { class: 'form-control' }
  .row
    .col-md-6.col-xs-12
      .form-group
        = f.input :email, input_html: { class: 'form-control' }
    .col-md-6.col-xs-12
      .form-group
        = f.input :contact_number, input_html: { class: 'form-control' }
  .row
    .col-md-12
      = f.submit "SAVE", class: "btn btn-primary"
      - if @client.new_record?
        = link_to administration_clients_path, class: 'btn btn-danger' do
          .fa.fa-times
          Cancel
      - else
        = link_to administration_client_path(@client), class: 'btn btn-danger' do
          .fa.fa-times
          Cancel

%hr
    
