%ol.breadcrumb
  %li.breadcrumb-item
    = link_to administration_dashboard_path do
      .fa.fa-lock
      Administration
  %li.breadcrumb-item
    = link_to administration_clients_path do
      .fa.fa-boxes
      Clients
  %li.breadcrumb-item
    .fa.fa-user
    #{@client.to_s}
