= render partial: "show_header"
.container
  .jumbotron{:style => "margin-top: 2%;"}
    .row
      .col-md-12
        %h2.text-muted
          .fa.fa-noxes
          #{@client.name}
        %span.text-danger
        %hr
        %table.table.table-bordered.table-sm
          %tbody
            %tr
              %th{ width: "25%" }
                Address
              %td
                #{@client.address}
            %tr
              %th
                Email
              %td
                #{@client.email}
            %tr
              %th
                Contact Number
              %td
                #{@client.contact_number}
        %hr
        = link_to administration_client_path(@client), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do
          .fa.fa-times
          Delete Record
