#modal-add-item.modal.fade{:tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.modal-title
          Add Item for PO #{@purchase_order}
      .modal-body
        .modal-body-content
          .row
            .col-md-12.col-xs-12
              .form-group
                %label
                  Name
                = text_field_tag :name, "", id: 'input-name', class: 'form-control'
          .row
            .col-md-6.col-xs-12
              .form-group
                %label
                  Supplier
                = select_tag :supplier, options_from_collection_for_select(Supplier.all.order("name ASC"), :id, :name), id: 'select-supplier', class: 'form-control'
            .col-md-6.col-xs-12
              .form-group
                %label
                  Deadline
                = text_field_tag :deadline, Date.today + 2.month, id: 'input-deadline', class: 'form-control'
          .row
            .col-md-4.col-xs-12
              .form-group
                %label
                  Quantity
                = number_field_tag :quantity, 1, id: 'input-quantity', class: 'form-control'
            .col-md-4.col-xs-12
              .form-group
                %label
                  Cost
                = number_field_tag :cost, 0, id: 'input-cost', class: 'form-control'
            .col-md-4.col-xs-12
              .form-group
                %label
                  Currency
                = select_tag :currency, options_for_select(PurchaseOrderItem::CURRENCIES), id: "select-currency", class: "form-control"
          .row
            .col-md-12.col-xs-12
              .form-group
                %label
                  Description
                = text_area_tag :description, "", id: 'input-description', class: 'form-control'
          .row
            .col-12
              .form-group
                %label
                  Remarks
                = text_area_tag :remarks, "", id: 'input-remarks', class: 'form-control'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-add-item.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
