#modal-approve.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Approve PO
      .modal-body
        .modal-body-content
          .callout.callout-info
            %p
              Are you sure you want to approve this PO?
          .message
      .modal-footer
        .controls
          %button#btn-confirm-approve.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
