#modal-change-currency.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Change Currency
      .modal-body
        .modal-body-content
          .row
            .col-md-12.col-xs-12
              .form-group
                %label
                  Currency
                = select_tag :currency, options_for_select(PurchaseOrder::CURRENCIES, @purchase_order.currency), class: 'form-control', id: 'select-po-currency', prompt: "-- SELECT --"
          .message
      .modal-footer
        .controls
          %button#btn-confirm-change-currency.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
