#modal-change-client.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Change Client
      .modal-body
        .modal-body-content
          .row
            .col-md-12.col-xs-12
              .form-group
                %label
                  Client
                = select_tag :client, options_from_collection_for_select(Client.all.order("name ASC"), :id, :name), class: 'form-control', id: 'select-client', prompt: '-- SELECT --'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-change-client.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
