#modal-change-date-prepared.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Change Date Prepared
      .modal-body
        .modal-body-content
          = date_field_tag :date_prepared, @purchase_order.date_prepared, class: 'form-control', id: 'input-date-prepared'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-change-date-prepared.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
