#modal-delete.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Delete PO Confirmation
      .modal-body
        .modal-body-content
          .callout.callout-danger 
            %p
              Are you sure you want to delete this PO?
          .message
      .modal-footer
        .controls
          %button#btn-confirm-delete.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
