#modal-edit-item-description.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Edit Item Description
      .modal-body
        .modal-body-content
          = text_area_tag :description, "", class: 'form-control', id: 'input-item-description'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-edit-item-description.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
