#modal-edit-purchase-order-item-cost.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Edit Cost
      .modal-body
        .modal-body-content
          .row
            .col-md-12.col-xs-12
              .form-group
                %label
                  Cost
                = number_field_tag :cost, "", class: 'form-control', id: 'input-purchase-order-item-cost'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-edit-purchase-order-item-cost.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
