#modal-edit-date-received-noa.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Edit Date Received N.O.A.
      .modal-body
        .modal-body-content
          = date_field_tag :date_received_noa, @purchase_order.date_received_noa, class: 'form-control', id: 'input-date-received-noa'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-edit-date-received-noa.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
