#modal-edit-purchase-order-item-deadline.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Edit Deadline
      .modal-body
        .modal-body-content
          .row
            .col-md-12.col-xs-12
              .form-group
                %label
                  Deadline
                = text_field_tag :deadline, "", type: 'date', class: 'form-control', id: 'input-purchase-order-item-deadline'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-edit-purchase-order-item-deadline.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
