#modal-edit-purchase-order-client-reference-number.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Edit Client Reference Number
      .modal-body
        .modal-body-content
          .row
            .col-md-12.col-xs-12
              .form-group
                %label
                  Client Reference Number
                = text_field_tag :client_reference_number, @purchase_order.client_reference_number, class: 'form-control', id: 'input-purchase-order-client-reference-number'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-edit-purchase-order-client-reference-number.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
