#modal-edit-purchase-order-item-supplier.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Edit Supplier
      .modal-body
        .modal-body-content
          .row
            .col-md-12.col-xs-12
              .form-group
                %label
                  Supplier
                = select_tag :supplier, options_from_collection_for_select(Supplier.all.order("name ASC"), :id, :name), id: 'select-purchase-order-item-supplier', class: 'form-control'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-edit-purchase-order-item-supplier.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
