#modal-edit-purchase-order-schedule-of-delivery.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Edit Schedule of Delivery
      .modal-body
        .modal-body-content
          .row
            .col-12
              .form-group
                %label
                  Schedule of Delivery
                = select_tag :status, options_for_select([60, 90, 120], @purchase_order), class: 'form-control', id: 'select-schedule-of-delivery'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-edit-purchase-order-schedule-of-delivery.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
