#modal-edit-purchase-order-reference-number.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Edit Reference Number
      .modal-body
        .modal-body-content
          .row
            .col-md-12.col-xs-12
              .form-group
                %label
                  Reference Number for PO
                = text_field_tag :reference_number, "", class: 'form-control', id: 'input-purchase-order-reference-number'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-edit-purchase-order-reference-number.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
