#modal-new.modal.fade{:tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.modal-title
          New Purchase Order
      .modal-body
        .modal-body-content
          .row
            .col-md-4.col-xs-12
              .form-group
                %label
                  Reference Number
                = text_field_tag :reference_number, "", id: 'input-reference-number', class: 'form-control'
            .col-md-4.col-xs-12
              .form-group
                %label
                  Date Requested
                = text_field_tag :date_requested, Date.today, type: 'date', id: 'input-date-requested', class: 'form-control'
            .col-md-4.col-xs-12
              .form-group
                %label
                  Target Date
                = text_field_tag :target_date, Date.today + 3.month, type: 'date', id: 'input-target-date', class: 'form-control'
          .row
            .col-md-6.col-xs12
              .form-group
                %label
                  Client
                = select_tag :client, options_from_collection_for_select(Client.all.order("name ASC"), :id, :name), id: 'select-client', class: 'form-control'
            .col-md-6.col-xs12
              .form-group
                %label
                  Deadline
                = text_field_tag :deadline, Date.today + 3.month, type: 'date', id: 'input-deadline', class: 'form-control'
          .row
            .col-12
              .form-group
                %label
                  Remarks
                = text_area_tag :remarks, "", id: 'input-remarks', class: 'form-control'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-new.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
