= form_tag "", method: 'GET' do
  .row
    .col-md-5.col-xs-12
      .form-group
        %label
          PO Number
        = text_field_tag :q, @q, class: 'form-control', placeholder: 'Reference Number'
    .col-md-5.col-xs-12
      .form-group
        %label
          Status
        = select_tag :status, options_for_select(PurchaseOrder::STATUSES, @status), class: 'form-control', id: 'status-select', prompt: '-- SELECT --'
    .col-md-2.col-xs-12
      .form-group
        %label
          Actions
        = button_tag type: 'submit', class: 'btn btn-info btn-block' do
          .fa.fa-search
