%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
        PO Number
      %th
        Client
      %th
        Date Prepared
      %th
        Date Received NOA
      %th
        Supplier Deadline
      %th
        Target Date
      %th.text-center
        Total Quantity
      %th.text-right
        Total Cost
      %th.text-center
        Status
  %tbody
    - @purchase_orders.each do |po|
      %tr
        %td
          = link_to purchase_order_path(po) do
            %strong
              #{po}
        %td
          #{po.client}
        %td
          #{po.date_prepared.strftime("%B %d, %Y")}
        %td
          - if po.date_received_noa.present?
            #{po.date_received_noa.strftime("%B %d, %Y")}
        %td
          - if po.supplier_deadline.present?
            #{po.supplier_deadline.strftime("%B %d, %Y")}
        %td
          #{po.target_date.strftime("%B %d, %Y")}
        %td.text-center
          #{po.total_quantity}
        %td.text-right
          #{number_to_currency(po.total_cost, unit: "#{po.currency}")}
        %td.text-center
          - if po.pending?
            .badge.badge-danger
              Pending
          - elsif po.approved?
            .badge.badge-info
              Approved
