%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-file
    Purchase Orders
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to "#", class: "btn", id: "btn-new" do
        .fa.fa-plus
        New PO
