%ol.breadcrumb
  %li.breadcrumb-item
    = link_to purchase_orders_path do
      .fa.fa-file
      Purchase Orders
  %li.breadcrumb-item
    .fa.fa-file
    #{@purchase_order}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      - if @purchase_order.pending?
        = link_to "#", class: "btn", id: "btn-add-item" do
          .fa.fa-plus
          Add Item
        = link_to "#", class: "btn", id: "btn-approve" do
          .fa.fa-check
          Approve
        = link_to "#", class: "btn", id: "btn-delete" do
          .fa.fa-times
          Delete
