%table.table.table-bordered.table-sm
  %tbody
    %tr
      %th{ width: "25%" }
        Reference Number:
      %td
        #{@purchase_order.reference_number}
        - if @purchase_order.pending?
          %small
            %button#btn-edit-purchase-order-reference-number{ data: { reference_number: "#{@purchase_order.reference_number}" } }
              .fa.fa-pencil-alt
              Edit
    %tr
      %th
        Client:
      %td
        #{@purchase_order.client}
        - if @purchase_order.pending?
          %small
            %button#btn-change-client{ data: { client_id: @purchase_order.client_id } }
              .fa.fa-pencil-alt
              Edit
    %tr
      %th
        Client Reference Number:
      %td
        #{@purchase_order.client_reference_number}
        - if @purchase_order.pending?
          %small
            %button#btn-edit-purchase-order-client-reference-number{ data: { reference_number: "#{@purchase_order.reference_number}" } }
              .fa.fa-pencil-alt
              Edit
    %tr
      %th
        Date Prepared:
      %td
        #{@purchase_order.date_prepared.strftime("%B %d, %Y")}
        - if @purchase_order.pending?
          %small
            %button#btn-change-date-prepared{ data: { date_prepared: @purchase_order.date_prepared }}
              .fa.fa-pencil-alt
              Edit
    %tr
      %th
        Schedule of Delivery:
      %td
        #{@purchase_order.schedule_of_delivery}
        - if @purchase_order.pending?
          %small
            %button#btn-edit-purchase-order-schedule-of-delivery
              .fa.fa-pencil-alt
              Edit
    %tr
      %th
        Deadline:
      %td
        #{@purchase_order.deadline.strftime("%B %d, %Y")}
    %tr
      %th
        Date Received N.O.A.
      %td
        - if @purchase_order.date_received_noa.present?
          #{@purchase_order.date_received_noa.strftime("%B %d, %Y")}
        - if @purchase_order.pending?
          %small
            %button#btn-edit-date-received-noa
              .fa.fa-pencil-alt
              Edit
    %tr
      %th
        Supplier Deadline
      %td
        - if @purchase_order.supplier_deadline.present?
          #{@purchase_order.supplier_deadline.strftime("%B %d, %Y")}
    %tr
      %th
        Total Cost:
      %td
        #{number_to_currency(@purchase_order.total_cost, unit: '')}
    %tr
      %th
        Currency:
      %td
        #{@purchase_order.currency}
        - if @purchase_order.pending?
          %small
            %button#btn-change-currency{ data: { currency: @purchase_order.currency } }
              .fa.fa-pencil-alt
              Edit
    - if @purchase_order.approved?
      %tr
        %th
          Date Approved:
        %td
          #{@purchase_order.date_approved.strftime("%B %d, %Y")}
      %tr
        %th
          Approved By:
        %td
          #{@purchase_order.approved_by}
    %tr
      %th
        Status:
      %td
        - if @purchase_order.pending?
          .badge.badge-danger
            Pending
        - if @purchase_order.approved?
          .badge.badge-info
            Approved

%hr
%h5
  Items
- if @purchase_order.purchase_order_items.size > 0
  %table.table.table-sm.table-bordered
    %thead
      %tr
        %th{ width: "50%" }
          Item Description
        %th.text-center
          Quantity
        %th.text-center
          Deadline
        %th.text-right
          Cost
        %th.text-right
          Total Cost
        %th.text-center
          Status
        - if @purchase_order.pending?
          %th.text-center
            Actions
    %tbody
      - @purchase_order.purchase_order_items.each do |o|
        %tr
          %td
            %label
              #{o.item}
            - if o.pending?
              %small
                %button.btn-edit-item-name{ data: { id: o.item.id, name: "#{o.item.name}" } }
                  .fa.fa-pencil-alt
                  Edit Name
            %p
              %pre
                #{o.item.description}
            - if o.pending?
              %small
                %button.btn-edit-item-description{ data: { id: o.item.id, description: "#{o.item.description}" } }
                  .fa.fa-pencil-alt
                  Edit Description
            %hr
            %label
              Supplier: 
            %p.text-muted
              #{o.supplier}
            - if o.pending?
              %small
                %button.btn-edit-purchase-order-item-supplier{ data: { id: o.id, supplier_id: "#{o.supplier_id}" } }
                  .fa.fa-pencil-alt
                  Edit Supplier
            %hr
            %label
              Remarks
            %p.text-muted
              #{o.remarks}
            - if o.pending?
              %small
                %button.btn-edit-purchase-order-item-remarks{ data: { id: o.id, remarks: "#{o.remarks}" } }
                  .fa.fa-pencil-alt
                  Edit Remarks
          %td.text-center
            #{o.quantity}
            - if o.pending?
              %br
              %small
                %button.btn-edit-purchase-order-item-quantity{ data: { id: o.id, quantity: "#{o.quantity}" } }
                  .fa.fa-pencil-alt
                  Edit Quantity
          %td.text-center
            #{o.deadline}
            - if o.pending?
              %br
              %small
                %button.btn-edit-purchase-order-item-deadline{ data: { id: o.id, deadline: "#{o.deadline}" } }
                  .fa.fa-pencil-alt
                  Edit Deadline
          %td.text-right
            %strong
              #{number_to_currency(o.cost, unit: "")}
              - if o.pending?
                %br
                %small
                  %button.btn-edit-purchase-order-item-cost{ data: { id: o.id, cost: "#{o.cost}" } }
                    .fa.fa-pencil-alt
                    Edit Cost
          %td.text-right
            %strong
              #{number_to_currency(o.total_cost, unit: "")}
          %td.text-center
            - if o.pending?
              .badge.badge-danger
                Pending
            - elsif o.approved?
              .badge.badge-info
                Approved
          - if o.pending?
            %td.text-center
              .btn-group
                = link_to "#", class: "btn btn-danger btn-xs btn-delete-item", data: { id: "#{o.id}" } do
                  .fa.fa-times
      %tr{ style: "background-color: #ffffb6;" }
        %td{ colspan: 1 }
          %strong
            GRAND TOTAL
        %td.text-center
          %strong
            #{@purchase_order.total_quantity}
        %td.text-right{ colspan: 3 }
          %strong
            #{number_to_currency(@purchase_order.total_cost, unit: "")}
        %td
        - if @purchase_order.pending?
          %td
- else
  %p
    No items found for this purchase order.
%hr

%label
  Remarks
%p
  #{@purchase_order.remarks}
- if @purchase_order.pending?
  %small
    %button#btn-edit-purchase-order-remarks{ data: { remarks: "#{@purchase_order.remarks}" } }
      .fa.fa-pencil-alt
      Edit Remarks
