= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "index_filter"

          - if @purchase_orders.size > 0
            = render partial: "index_list"
            = paginate @purchase_orders
          - else
            %p
              No purchase orders found

= render partial: "purchase_orders/modals/new"
= render partial: "templates/error_list"
= javascript_include_tag "purchase_orders/Index"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');

    Index.init({
      authenticityToken: authenticityToken
    });
  });
