= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "shared/po_progress"
          = render partial: "show_details"

#parameters{ data: { id: "#{@purchase_order.id}" } }
= render partial: "purchase_orders/modals/add_item"
= render partial: "purchase_orders/modals/delete"
= render partial: "purchase_orders/modals/approve"
= render partial: "purchase_orders/modals/delete_item"
= render partial: "purchase_orders/modals/edit_item_description"
= render partial: "purchase_orders/modals/edit_item_name"
= render partial: "purchase_orders/modals/edit_purchase_order_item_supplier"
= render partial: "purchase_orders/modals/edit_purchase_order_item_remarks"
= render partial: "purchase_orders/modals/edit_purchase_order_item_quantity"
= render partial: "purchase_orders/modals/edit_purchase_order_item_deadline"
= render partial: "purchase_orders/modals/edit_purchase_order_item_cost"
= render partial: "purchase_orders/modals/edit_purchase_order_remarks"
= render partial: "purchase_orders/modals/edit_purchase_order_reference_number"
= render partial: "purchase_orders/modals/edit_purchase_order_client_reference_number"
= render partial: "purchase_orders/modals/edit_purchase_order_schedule_of_delivery"
= render partial: "purchase_orders/modals/change_client"
= render partial: "purchase_orders/modals/change_currency"
= render partial: "purchase_orders/modals/edit_date_received_noa"
= render partial: "purchase_orders/modals/change_date_prepared"
= javascript_include_tag "purchase_orders/Show"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');
    var $parameters       = $("#parameters");
    var purchaseOrderId   = $parameters.data("id");

    Show.init({
      authenticityToken: authenticityToken,
      purchaseOrderId: purchaseOrderId
    });
  });
