.jumbotron
  .container
    %h3.title
      Hello, #{current_user} 
      .badge.badge-info
        #{current_user.role.upcase}

.container 
  .row
    .col-md-12
      - if current_user.admin?
        .row{:style => "margin-top: 2%;"}
          .col-md-3
            .card.bg-light#no_of_users
              .card-body.text-center
                %h2
                  = @users.where(role: "Admin").count
                %p.card-text.text-center Admin
          .col-md-3
            .card.bg-light#no_of_users
              .card-body.text-center
                %h2
                  
                %p.card-text.text-center 
          .col-md-3
            .card.bg-light#no_of_users
              .card-body.text-center
                %h2
                  
                %p.card-text.text-center 
          .col-md-3
            .card.bg-light#no_of_users
              .card-body.text-center
                %h2
                  
                %p.card-text.text-center 
