%ol.breadcrumb
  %li.breadcrumb-item
    = link_to administration_dashboard_path do
      .fa.fa-lock
      Administration
  %li.breadcrumb-item
    = link_to administration_users_path do
      .fa.fa-users
      Users
  %li.breadcrumb-item
    .fa.fa-user
    Edit User
