= simple_form_for [:administration, @user] do |f|
  - if params[:change_password].blank?
    .row
      .col-md-4
        .form-group
          = f.input :first_name, input_html: { class: 'form-control' }
      .col-md-4
        .form-group 
          = f.input :last_name, input_html: { class: 'form-control' }
    .row
      .col-md-12
        .form-group
          = f.input :role, as: :select, collection: User::ROLE, input_html: { class: 'form-control' }
        .form-group
          = f.input :email, input_html: { class: 'form-control' }

    - if @user.new_record?
      .row
        .col
          .form-group
            = f.input :password, input_html: { class: 'form-control', :type => "password" }

          .form-group
            = f.input :password_confirmation, input_html: { class: 'form-control', :type => "password" }
    - elsif params[:change_password].present?
      .form-group
        = f.input :password, input_html: { class: 'form-control', :type => "password" }

      .form-group
        = f.input :password_confirmation, input_html: { class: 'form-control', :type => "password" }
  - else
    - if @user.new_record?
      .row
        .col
          .form-group
            = f.input :password, input_html: { class: 'form-control', :type => "password" }

          .form-group
            = f.input :password_confirmation, input_html: { class: 'form-control', :type => "password" }
    - elsif params[:change_password].present?
      .form-group
        = f.input :password, input_html: { class: 'form-control', :type => "password" }

      .form-group
        = f.input :password_confirmation, input_html: { class: 'form-control', :type => "password" }

  .row
    .col
      = f.submit "SAVE", class: "btn btn-primary"
      - if @user.new_record?
        = link_to administration_users_path, class: 'btn btn-danger' do
          .fa.fa-times
          Cancel
      - else
        = link_to administration_user_path(@user), class: 'btn btn-danger' do
          .fa.fa-times
          Cancel

%hr
