.row
  .col-md-6.col-xs-12
    %h3
      List of Users
  .col-md-6.col-xs-12
    .text-right
      = link_to new_administration_user_path, class: "btn btn-secondary add_user" do
        %i.fa.fa-plus
        Add New User

.row
  .col
    .table-responsive{:style => "margin-top: 1%;"}
      %table.table.table-bordered.table-hover.table-sm
        %thead
          %tr
            = form_tag send("administration_users_path"), method: "GET" do
              %td
                = select_tag :role, options_for_select(User::ROLE, @role), class: "form-control", prompt: "-- SELECT --"
              %td
                = text_field_tag :identification_number, @identification_number, class: "form-control"
              
              %td
                = text_field_tag :name, @name, placeholder: "Name", class: "form-control"


              %td
                %center
                  = button_tag "Search", class: "btn btn-light"
                  = link_to "Clear", administration_users_path, class: "btn btn-light"
          %tr.header-gray
            %th Role
            %th Name
            %th Email
            %th Actions
        %tbody 
          - if current_user.admin?
            - @users.each do |user|
              %tr
                %td= user.role
                %td= user.to_s.upcase
                %td= user.email
                %td
                  = link_to administration_user_path(user.id), class: "btn btn-light" do
                    Details
                  - if current_user.admin?
                    &nbsp;
                    = link_to edit_administration_user_path(user.id), class: "btn btn-info" do
                      Edit
      
