= render partial: "show_header"
.container
  .card
    .card-body
      .row
        .col-md-12
          %h2.text-muted
            .fa.fa-user
            #{@user.to_s}
          %span.text-danger
          %hr
          .table-responsive
            %table.table.table-borderless
              %tbody
                %tr
                  %td Role:
                  %td Email:
                  %td{:width => "45%"} Actions
                %tr
                  %th #{@user.role}
                  %th #{@user.email}
                  %td
                    .btn-group
                      = link_to edit_administration_user_path(change_password: true), class: 'btn btn-warning' do
                        .fa.fa-unlock
                        Change Password
                      = link_to edit_administration_user_path, class: 'btn btn-secondary' do
                        .fa.fa-pencil-alt
                        Edit
                      = link_to administration_user_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' do
                        .fa.fa-times
                        Delete
