= simple_form_for [:administration, @supplier] do |f|
  .row
    .col-md-6
      .form-group
        = f.input :name, input_html: { class: 'form-control' }
    .col-md-6
      .form-group
        = f.input :email, input_html: { class: 'form-control' }
  .row
    .col-md-12
      .form-group 
        = f.input :address, input_html: { class: 'form-control' }
  .row
    .col-md-12
      = f.submit "SAVE", class: "btn btn-primary"
      - if @supplier.new_record?
        = link_to administration_suppliers_path, class: 'btn btn-danger' do
          .fa.fa-times
          Cancel
      - else
        = link_to administration_supplier_path(@supplier), class: 'btn btn-danger' do
          .fa.fa-times
          Cancel

%hr
    
