.row
  .col-md-6.col-xs-12
    %h3
      List of Suppliers
  .col-md-6.col-xs-12
    .text-right
      = link_to new_administration_supplier_path, class: "btn btn-secondary add_user" do
        %i.fa.fa-plus
        Add New Supplier

.row
  .col
    .table-responsive{:style => "margin-top: 1%;"}
      %table.table.table-bordered.table-hover.table-sm
        %thead
          %tr
            = form_tag send("administration_users_path"), method: "GET" do
              
              %td
                = text_field_tag :name, @name, placeholder: "Name", class: "form-control"
              %td
              %td

              %td
                %center
                  = button_tag "Search", class: "btn btn-light"
                  = link_to "Clear", administration_users_path, class: "btn btn-light"
          %tr.header-gray
            %th Name
            %th Email
            %th Address
            %th Actions
        %tbody 
          - if current_user.admin?
            - @suppliers.each do |supplier|
              %tr
                %td= supplier.name
                %td= supplier.email
                %td= supplier.address
                %td
                  = link_to administration_supplier_path(supplier.id), class: "btn btn-light" do
                    Details
                  - if current_user.admin?
                    &nbsp;
                    = link_to edit_administration_supplier_path(supplier.id), class: "btn btn-info" do
                      Edit
          
