%ol.breadcrumb
  %li.breadcrumb-item
    = link_to administration_dashboard_path do
      .fa.fa-lock
      Administration
  %li.breadcrumb-item
    = link_to administration_suppliers_path do
      .fa.fa-boxes
      Suppliers
  %li.breadcrumb-item
    .fa.fa-user
    #{@supplier.to_s}
