= render partial: "show_header"
.container
  .jumbotron{:style => "margin-top: 2%;"}
    .row
      .col-md-12
        %h2.text-muted
          .fa.fa-noxes
          #{@supplier.name}
        %span.text-danger
        %hr
        .table-responsive
          %table.table.table-borderless
            %tbody
              %tr
                %td Address:
                %td Email:
                %td{:width => "300px;"} Actions
              %tr
                %th #{@supplier.address}
                %th #{@supplier.email}
                %td
                  = link_to edit_administration_supplier_path, class: 'btn btn-secondary' do
                    .fa.fa-pencil-alt
                    Edit
                  &nbsp;
                  = link_to administration_supplier_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' do
                    .fa.fa-times
                    Delete

