%header.app-header.navbar
  = link_to root_path, class: "navbar-brand" do
    = image_tag "logo.png", width: "89"
  %button.navbar-toggler.aside-menue-toggler.sidebar-toggler.d-md-down-none{ data: { toggle: 'sidebar-show' } }
    %span.navbar-toggler-icon
  %ul.nav.navbar-nav.d-md.down-none
  %ul.nav.navbar-nav.ml-auto
    %li.nav-item.dropdown
      = link_to "#", class: "nav-link dropdown-toggle nav-link", data: { toggle: "dropdown" }, role: "button", "aria-hashpopup" => "true", "aria-expanded" => "true" do
        %span.d-md-down-none
          #{current_user.email}
      .dropdown-menu.dropdown-menu-right
        .dropdown-header.text-center
          Settings
        = link_to "#", class: "dropdown-item" do
          %i.fa.fa-sync
          Change Password
        = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
          %i.fa.fa-times
          Logout
  %button.navbar-toggler.sidebar-toggler.d-md-down-none{ data: { toggle: 'sidebar-show' } }
    %span.navbar-toggler-icon
