.sidebar
  %nav.sidebar-nav.open
    %ul.nav
      %li.nav-title
        Navigation
      %li.nav-item
        = link_to root_path, class: "nav-link #{params[:controller] == 'pages' && params[:action] == 'index' ? 'active' : ''}" do
          %i.nav-icon.fa.fa-tachometer-alt
          Dashboard
        = link_to purchase_orders_path, class: "nav-link #{params[:controller] == 'purchase_orders' ? 'active': '' }" do
          %i.nav-icon.fa.fa-file
          Purchase Orders
        = link_to warehouse_path, class: "nav-link #{params[:controller] == 'warehouse' ? 'active' : ''}" do
          %i.nav-icon.fa.fa-warehouse
          Warehouse
        = link_to items_path, class: "nav-link #{params[:controller] == 'items' ? 'active' : ''}" do
          %i.nav-icon.fa.fa-boxes
          Items
      %li.nav-title
        Administration
      %li.nav-item
        = link_to "/administration/dashboard", class: "nav-link #{params[:controller] == 'administration/pages' && params[:action] == 'index' ? 'active' : ''}" do
          %i.nav-icon.fa.fa-tachometer-alt
          Dashboard
      %li.nav-item
        = link_to administration_users_path, class: "nav-link #{params[:controller] == 'users' && params[:action] == 'index' ? 'active' : ''}" do
          %i.nav-icon.fa.fa-users
          Users
      %li.nav-item
        = link_to administration_clients_path, class: "nav-link #{params[:controller] == 'clients' && params[:action] == 'index' ? 'active' : ''}" do
          %i.nav-icon.fa.fa-user
          Clients
      %li.nav-item
        = link_to administration_suppliers_path, class: "nav-link #{params[:controller] == 'suppliers' && params[:action] == 'index' ? 'active' : ''}" do
          %i.nav-icon.fa.fa-boxes
          Suppliers
