%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-tachometer-alt
    Dashboard
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to "download_backup", class: "btn" do
        .fa.fa-download
        Download Backup
