#modal-stock.modal.fade{:tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.modal-title#modal-stock-title
      .modal-body
        .modal-body-content
          .row
            .col-md-12.col-xs-12
              .form-group
                %label
                  Quantity
                = number_field_tag :quantity, 0, id: 'input-quantity', class: 'form-control'
              .form-group
                %label
                  Remarks
                = text_field_tag :remarks, "", id: 'input-remarks', class: 'form-control'
          .message
      .modal-footer
        .controls
          %button#btn-confirm-stock.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
