%ol.breadcrumb
  %li.breadcrumb-item
    = link_to warehouse_path do
      .fa.fa-warehouse
      Warehouse
  %li.breadcrumb-item
    = link_to items_path do
      .fa.fa-boxes
      Items
  %li.breadcrumb-item
    .fa.fa-pencil-alt
    Edit Item #{@item}
  %li.breadcrumb-menu.d-md-down-none
