= simple_form_for @item do |f|
  .row
    .col-md-12
      .form-group
        = f.input :name, input_html: { class: 'form-control' }
    .col-md-12
      .form-group
        = f.input :description, input_html: { class: 'form-control' }
  .row
    .col-md-12
      = f.submit "SAVE", class: "btn btn-primary"
      - if @item.new_record?
        = link_to items_path, class: 'btn btn-danger' do
          .fa.fa-times
          Cancel
      - else
        = link_to item_path(@item), class: 'btn btn-danger' do
          .fa.fa-times
          Cancel

%hr
    
