= form_tag "", method: 'GET' do
  .row
    .col-md-10.col-xs-12
      .form-group
        %label
          Name
        = text_field_tag :q, @q, class: 'form-control', placeholder: 'Name'
    .col-md-2.col-xs-12
      .form-group
        %label
          Actions
        = button_tag type: 'submit', class: 'btn btn-info btn-block' do
          .fa.fa-search
