%table.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th
        Name
      %th.text-center
        Current Stock
  %tbody
    - @items.each do |item|
      %tr
        %td
          = link_to item_path(item) do
            %strong
              #{item}
        %td.text-center
          #{item.stock}
          
