%ol.breadcrumb
  %li.breadcrumb-item
    = link_to warehouse_path do
      .fa.fa-warehouse
      Warehouse
  %li.breadcrumb-item
    .fa.fa-boxes
    Items
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to new_item_path, class: "btn", id: "btn-new" do
        .fa.fa-plus
        New Item
