%ol.breadcrumb
  %li.breadcrumb-item
    = link_to items_path do
      .fa.fa-boxes
      Items
  %li.breadcrumb-item
    #{@item}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to edit_item_path(@item), class: "btn", id: "btn-new" do
        .fa.fa-pencil-alt
        Edit Item
