%table.table.table-bordered.table-sm
  %tbody
    %tr
      %th{ width: "25%" }
        Name:
      %td
        #{@item.name}
    %tr
      %th
        Stock:
      %td
        #{@item.stock}
    %tr
      %th
        Description:
      %td
        %pre
          #{@item.description}

%hr

%h5
  Transaction Logs

- if @item_transactions.size > 0
  %table.table.table-bordered.table-sm
    %thead
      %tr
        %th{ width: "25%" }
          Transacted At
        %th{ width: "25%" }
          Transacted By
        %th.text-center{ width: "10%" }
          Quantity
        %th
          Remarks
    %tbody
      - @item_transactions.each do |o|
        %tr
          %td
            #{o.transacted_at.localtime.strftime("%B %d, %Y %H:%M")}
          %td
            #{o.data.with_indifferent_access[:user][:last_name]}, #{o.data.with_indifferent_access[:user][:first_name]}
          %td.text-center
            #{o.quantity}
            %br
            - if o.in?
              .badge.badge-info
                .fa.fa-download
                IN
            - elsif o.out?
              .badge.badge-danger
                .fa.fa-upload
                OUT
          %td
            %pre
              #{o.data.with_indifferent_access[:remarks]}
- else
  %p
    No transactions for this item
