= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          = render partial: "index_filter"
          
          - if @items.size > 0
            = render partial: "index_list"
            = paginate @items
          - else
            %p
              No items found
