= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          .text-right
            .btn-group
              = link_to "#", class: 'btn btn-primary', id: 'btn-add' do
                .fa.fa-plus
                Add Stock
              = link_to "#", class: 'btn btn-danger', id: 'btn-remove' do
                .fa.fa-minus
                Remove Stock
          %hr
          = render partial: "show_details"

#parameters{ data: { id: "#{@item.id}" } }
= render partial: "items/modals/stock"
= javascript_include_tag "items/Show"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');
    var $parameters       = $("#parameters");
    var itemId            = $parameters.data("id");

    Show.init({
      authenticityToken: authenticityToken,
      itemId: itemId
    });
  });
