#modal-flag-item-for-transit.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Flag for Transit
      .modal-body
        .modal-body-content
          .callout.callout-info
            %p
              Are you sure you want to flag this for transit?
          .message
      .modal-footer
        .controls
          %button#btn-confirm-flag-item-for-transit.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
