#modal-flag-item-as-delivered.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Flag as Delivered
      .modal-body
        .modal-body-content
          .form-group
            %label
              Date Delivered
            = date_field_tag :date_delivered, Date.today, class: 'form-control', id: 'input-date-delivered'
          .form-group
            %label
              Quantity
            = number_field_tag :quantity, "", class: "form-control", id: "input-delivered-quantity"
          .message
      .modal-footer
        .controls
          %button#btn-confirm-flag-item-as-delivered.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
