/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "coreui";
@import "sk-cube-grid";

.po-progress {
}

label {
  font-weight: bold;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;

  .first {
    padding : 0;
    float: none;
    border: none;
  }

  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page {
    padding : 0;
    float: none;
    border: none;
  }

  .next {
    padding : 0;
    float: none;
    border: none;
  }

  .last {
    padding : 0;
    float: none;
    border: none;
  }
}



.jumbotron {
  background: white;
  margin-top: 5%;
}
