#login-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  .form-control {
    padding: 20px;
  }

  .input-group {
    margin-top: 20px;
  }
}
