%table.table.table-bordered.table-sm
  %thead
    %tr
      %th{ width: "35%" }
        PO Number
      %th.text-center
        \# of Items for Delivery
      %th.text-center
        \# of Items In Transit
      %th.text-center
        \# of Items Delivered
  %tbody
    - @approved_purchase_orders.each do |o|
      %tr
        %td
          = link_to warehouse_show_path(o) do
            %strong
              #{o.reference_number}
        %td.text-center
          #{o.num_items_for_delivery}
        %td.text-center
          #{o.num_items_in_transit}
        %td.text-center
          #{o.num_items_delivered}
