%table.table.table-bordered.table-sm
  %thead
    %tr
      %th
        PO Number
      %th
        Client
  %tbody
    - @delivered_purchase_orders.each do |o|
      %tr
        %td
          = link_to warehouse_show_path(o) do
            %strong
              #{o.reference_number}
        %td
          #{o.client}
