%ol.breadcrumb
  %li.breadcrumb-item
    .fa.fa-warehouse
    Warehouse
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to items_path, class: "btn" do
        .fa.fa-boxes
        Go to Items in Warehouse
