%table.table.table-bordered.table-sm
  %thead
    %tr
      %th{ width: "50%" }
        Item
      %th.text-center
        Quantity
      %th.text-right
        Cost
      %th.text-right
        Total Cost
      %th.text-center
        Status
      %th.text-center
        Actions
  %tbody
    - @purchase_order_items.each do |o|
      %tr
        %td
          %label
            #{o.item}
          %p
            %pre
              #{o.item.description}
          %hr
          .row
            .col
              %label
                In Warehouse: 
              %span.text-muted
                #{o.delivered_quantity}
            .col
              %label
                To be Received:
              %span.text-muted
                #{o.remaining_quantity_for_delivery}
            .col
              %label
                Delivered to Client:
              %span.text-muted
                #{o.dispensed_quantity}
          %hr
          %label
            Supplier: 
          %p.text-muted
            #{o.supplier}
          %hr
          %label
            Remarks
          %p.text-muted
            #{o.remarks}
        %td.text-center
          #{o.quantity}
        %td.text-right
          %strong
            #{number_to_currency(o.cost, unit: "")}
        %td.text-right
          %strong
            #{number_to_currency(o.total_cost, unit: "")}
        %td.text-center
          - if o.pending?
            .badge.badge-danger
              Pending
          - elsif o.approved?
            .badge.badge-info
              Approved
          - elsif o.in_transit?
            .badge.badge-info
              .fa.fa-truck
              In Transit
          - elsif o.delivered?
            .badge.badge-warning
              .fa.fa-truck
              For Delivery to Client
          - elsif o.dispensed?
            .badge.badge-success
              Dispensed 
          - elsif o.closed?
            .badge.badge-success
              Closed
        %td.text-center
          - if o.approved?
            .btn-flag-item-for-transit.btn.btn-info{ data: { id: o.id } }
              .fa.fa-truck
              Flag for In Transit
          - elsif o.in_transit?
            .btn-flag-item-as-delivered.btn.btn-warning{ data: { id: o.id, quantity: o.remaining_quantity_for_delivery } }
              .fa.fa-boxes
              Flag as Delivered
          - elsif o.delivered?
            .btn-flag-item-as-dispensed.btn.btn-info{ data: { id: o.id, quantity: o.remaining_quantity_for_dispense } }
              .fa.fa-truck
              Deliver to Client
