= render partial: "index_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          %h2
            .fa.fa-warehouse
            Warehouse Dashboard
          %hr
          
          %h5.text-muted
            .fa.fa-download
            Incoming Orders
          - if @approved_purchase_orders.size > 0
            = render partial: "approved_purchase_orders"
          - else
            %p
              No incoming orders.

          %hr

          %h5.text-muted
            .fa.fa-truck
            For Delivery to Client
          - if @delivered_purchase_orders.size > 0
            = render partial: "delivered_purchase_orders"
          - else
            %p
              No orders for delivery.
