= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          %h5
            Items
          - if @purchase_order_items.size > 0
            = render "item_list"
          - else
            %p
              No items found

#parameters{ data: { id: "#{@purchase_order.id}" } }
= render partial: "warehouse/modals/flag_item_for_transit"
= render partial: "warehouse/modals/flag_item_as_delivered"
= render partial: "warehouse/modals/flag_item_as_dispensed"
= javascript_include_tag "warehouse/Show"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');
    var $parameters       = $("#parameters");
    var purchaseOrderId   = $parameters.data("id");

    Show.init({
      authenticityToken: authenticityToken,
      purchaseOrderId: purchaseOrderId
    });
  });
