!!!
%html
  %head  
    %title
      One Top Inventory System
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = yield
    = render partial: "templates/error_list"
